@using FIRMA_MVC.Models;
@model IEnumerable<SAYFA>
@{
    ViewBag.Title = "Index";
    //string veri = ViewData["veri"].ToString();
}

    <div id="arama">
        <form action="/Admin/Sayfalar/Search" method="post">
            <label for="txtAra">@Html.DisplayNameFor(model => model.BASLIK)</label>
            <input id="txtAra" name="txtAra" type="text" placeholder="Başlık Adı Giriniz" @*value="@veri*@" />
            <input type="submit" class="btn btn-default" value="Ara" />
            <a class="btn btn-default" href="/Admin/Sayfalar/Create">Yeni</a>
        </form>
    </div>


    <div id="liste">
        <table>

            <tr>
                <td>Sil</td>
                <td>@Html.DisplayNameFor(model => model.SAYFA_REFNO)</td>
                <td>@Html.DisplayNameFor(model => model.BASLIK)</td>
                <td>@Html.DisplayNameFor(model => model.ICERIK)</td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.ActionLink("Sil", "Delete", new { id = item.SAYFA_REFNO })
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.SAYFA_REFNO)
                    </td>
                    <td>
                        @Html.ActionLink(item.BASLIK, "Create", new { id = item.SAYFA_REFNO })

                    </td>
                    <td>@Html.Raw(item.ICERIK)</td>
                </tr>
            }

        </table>
    </div>

