@model IEnumerable<FIRMA_MVC.Models.PROJE>   

@{
    ViewBag.Title = "Index";

}

    <div id="arama">
        <form action="/Admin/Projeler/Search" method="post">
            <label for="txtAra">@Html.DisplayNameFor(model => model.PROJE_ADI)</label>
            <input id="txtAra" name="txtAra" type="text" placeholder="Proje Adı Giriniz" />
            <input type="submit" class="btn btn-default" value="Ara" />
            <a class="btn btn-default" href="/Admin/Projeler/Create">Yeni</a>
        </form>
    </div>


<table class="table">
    <tr>
        <td>Sil</td>
        <th>
            @Html.DisplayNameFor(model => model.PROJE_ADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACIKLAMA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.PROJE_REFNO })
            </td>



            <td>
                @Html.ActionLink(item.PROJE_ADI, "Create", new { id = item.PROJE_REFNO })

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RESIM)
            </td>
            <td>
                @Html.Raw(item.ACIKLAMA)
            </td>

    

            @*<td>
                <a href="/Admin/Projeler/Edit/" @item.PROJE_REFNO></a>
                @Html.ActionLink("Edit", "Edit", new { id = item.PROJE_REFNO }) |
                @Html.ActionLink("Details", "Details", new { id = item.PROJE_REFNO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PROJE_REFNO })
            </td>*@
        </tr>
    }

    

</table>
